body{
	padding: 0;
	margin:0;
}
ul,li,h1,h2,h3,h4,h5,h6,p{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
$lists:blue,yellow,green,orange,pink,purple,zong;
$colors:#14AEFA,#F7CA00,#64DA39,#FF9600,#FF2A6B,#CB78E3,#A2835C;
@for $i from 1 through length($lists){
	.#{nth($lists,$i)}{
		color: nth($colors,$i);
	}
}
$icon:(
	'blues':-68px -571px,
	'blues2':-136px -167px,
	'blues3':-74px -359px,
	'yellows':-34px -571px,
	'yellow2':-136px -267px,
	'yellow3':-136px -199px,
	'greens':-85px -571px,
	'green2':-42px -359px,
	'green3':-32px -401px,
	'oranges':-34px -571px,
	'orange2':0 -433px,
	'orange3':-96px -465px,
	'pinks': -102px -571px,
	'pink2':-128px -401px,
	'pink3':-64px -401px,
	'purples':-17px -571px,
	'purple2':-64px -465px,
	'purple3': 0 -465px,
	'zongs':-133px -549px,
	'zong2':-96px -433px,
	'zong3':-32px -433px,
	'wif':-143px -499px,
	'search_img':-138px -359px,
	'sanjiao':-69px -526px,

);
@each $className in map_keys($icon){
	$value:map_get($icon,$className);
	.#{$className}{
		background-image: url(../img/1.png);
		background-position: $value;
	}
}
$icons:(
	'lan': 0px -281px,
	'huang':0px -306px,
	'lv':0px -256px,
	'cheng':0px -381px,
	'fen':0px -356px,
	'zise':0px -231px,
	'zongse':0px -331px,
	);
@each $className in map_keys($icons){
	$value:map_get($icons,$className);
	.#{$className}{
		background-image: url(../img/a.png);
		background-position: $value;
	}
}

@mixin font-generator($name,$font-name){
	$font-path:'../fonts/';
	@font-face{
		font-family: $name;
	src:
		local($font-name),
		url($font-path + $font-name + '.woff') format('woff'),
		url($font-path + $font-name + '.eot') format('eop'),
		url($font-path + $font-name + '.ttf') format('ttf'),
		url($font-path + $font-name + '.svg') format('svg');
	
}
	}
	
@include font-generator('light','SFNSDisplay-Light');
@include font-generator('num','SFNSDisplay-Ultralight-Numbers');
@include font-generator('text','SFNSText-Light');
@include font-generator('medium','SFNSText-Medium');
.active{
	background:#1a1a1a;
}
.box{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../img/2.png);
	background-repeat: repeat;
	.list{
		position: absolute;
		left: 0;
		width: 395px;
		height: 100%;
		background: #383836;
		.list_head{
			width: 100%;
			height: 45px;
			line-height: 45px;
			border-bottom: 1px solid #1A1A1A;
			box-sizing: border-box;
			padding: 0 13px;
			span{
				color: #fff;
				font-size: 20px;
				font-family: medium;
			}
			.tix{
				color: #7B7B7A;
				&:hover{
					color:#ccc;
				};
			}
			.jiantou{
				width: 10px;
				height: 10px;
				display: inline-block;
				background-image: url(../img/1.png);
				background-position: -155px -635px;
			}
			.add{
				width: 23px;
				height: 23px;
				float: right;
				margin-top: 10px;
				display: inline-block;
				color: #ccc;
				background-image: url(../img/1.png);
				background-position: -23px -526px;
			}
		}
		.plan{
				border-bottom: 1px solid #1A1A1A;
			}
		ul li{
			width: 100%;
			height: 45px;
			line-height: 45px;
			box-sizing: border-box;
			padding: 0 13px;
			color: #F5F5F4;
			font-size: 17px;
			position: relative;
			/*background: red;*/
			.plan{
				border-bottom: 1px solid #1A1A1A;
			}
			.pic{
				display: inline-block;
				width: 40px;
				height: 40px;
				background-image: url(../img/1.png);
			}
			span{
              font-family: medium;
              font-weight: bold;
              position: absolute;
              top:0px;
			}
			.biao{
               background-position: 0 -359px;
			}
			.colors{
				width: 17px;
    			height: 17px;
    			position: absolute;
    			top: 12px;
    			left: 23px;
			}
			.info{
				position: absolute;
				height: 24px;
				line-height: 24px;
				top: 7px;
				left: 53px;
				font-size: 17px;
				background: none;
				outline: none;
				border: none;
				font-family: medium;
              	font-weight: bold;
              	color: #F5F5F4;
			}
			.wif{
				width: 25px;
				height: 25px;
				position: absolute;
				right: 6px;
				top:10px;
			}
			.line{
				width: 90%;
				height: 1px;
				background:#1a1a1a;
				position: absolute;
				bottom:0;
				right: 0;
			}
			
		}
	}
    .content{
    	width: 71.05%;
    	height: 100%;
    	position: absolute;
    	right: 0;
    	.search{
    		width: 100%;
			height: 45px;
			line-height: 45px;
			border-bottom: 1px solid #D0D0D0;
			box-sizing: border-box;
			padding: 0 13px;
			.search_img{
				position: absolute;
			    left: 11px;
			    top: 10px;
			    width: 24px;
			    height: 24px;
			}
			.search_info{
				position: absolute;
				height: 24px;
				line-height: 24px;
				top: 10px;
				left: 45px;
				font-size: 20px;
				background: none;
				outline: none;
				border: none;
              	font-family: text;
              	color: #C0C0C0;
			}
    	}
    	.select{
    		height: 50px;
	        margin-top: 30px;
		    background: none;
		    margin-left: 28px;
		    border-bottom: 1px solid rgba(0,0,0,0.1);
		    span{
		    	 font-size: 40px;
		    	 font-weight: 200;
		    }
		    .xuan{
                position: absolute;
			    right: 30px;
			    top: 94px;
			    font-size: 20px;
			    cursor: pointer;
			    .selectshow{
			    	width: 365px;
			        height: 235px;
			        position: absolute;
			        top:-70px;
			        right: 50px;
			        z-index: 2;
			        box-sizing: border-box;
			        box-shadow: 0px 0px 15px rgba(0,0,0,0.15),0px 0px 1px 1px rgba(0,0,0,0.1);
				    border: 1px solid rgba(0,0,0,0.1);
				    background: #fff;
				    border-radius: 6px;
			        display: none;
			        .zheng{
			        	width: 20px;
			        	height: 20px;
			        	background: #fff;
			        	position: absolute;
			        	top:70px;
			        	right: -10px;
			        	transform: rotate(45deg);
			        	z-index: 88;
			        }
			        .kuang{
			        	width: 355px;
			        	height: 225px;
			        	border:1px solid #D9D9D9;
			        	margin-top: 3px;
			        	margin-left: 3px;
			        	z-index: 9999;
			        	position: absolute;
			        	border-radius: 3px;
			        }
			        input{
			        	font-family: "微软雅黑";
			        	display: block;
			        	width: 314px;
			        	height: 42px;
			        	font-size: 25px;
			        	line-height: 42px;
			        	box-sizing: border-box;
			        	padding-left: 10px;
			        	background: none;
			        	border: 1px solid rgba(0, 0, 0, 0.0980392);
			        	margin: 20px auto 0px;
			        	outline: none;
			        	position: absolute;
			        	top:20px;
			        	left: 20px;
			        	z-index: 999999;
			        }
			        .liebiao{
			        	display: block;
			        	width: 314px;
			        	margin: 0 auto;
			        	height: 22px;
			        	line-height: 22px;
			        	font-size: 15px;
			        	color: #1a1a1a;
			        	opacity: 0.7;
			        	margin-top: 100px;
			        	font-family: "微软雅黑";
			        }
			        ul{
			        	width: 314px;
					    margin: 0 auto;
					    height: 33px;
					    margin-top: 12px;
					    margin-bottom: 12px;
					 
					    z-index: 999999;
					    li{
					    	display: block;
							width: 25px;
							height: 25px;
							float: left;
							margin: 0 8px;
					    }
			        }
			        .button{
			        	width: 98%;
					    height: 60px;
					    margin-left: 3px;
					    border-top: 1px solid rgba(0,0,0,0.1);
					    line-height: 60px;
					    position: relative;
					    #del{
					    	display: inline-block;
						    width: auto;
						    font-size: 18px;
						    color: #ff3b30;
						    margin-left: 20px;
						    position: absolute;
						    bottom:6px;
					    }
					    #back {
						    display: inline-block;
						    width: auto;
						    font-size: 18px;
						    color: #007aff;
						    margin-left: 150px;
						    position: absolute;
						    bottom:6px;
						    right: 100px;
						}
						#shu {
						    display: inline-block;
						    width: auto;
						    height: 25px;
						    border-left: 1px solid #ccc;
						    position: absolute;
						    top: 10px;
						    position: absolute;
						    right: 80px;
						}
						#fin {
						    display: inline-block;
						    width: auto;
						    font-size: 18px;
						    color: #007aff;
						    font-weight: bold;
						    margin-left: 40px;
						    position: absolute;
						    bottom:6px;
						    right: 20px;
						}
			        }
			    }
		    }
		    input{
		    	position: absolute;
			    right: 35px;
			    top: 94px;
			    display: none;
			    &:checked +.xuan .selectshow{
                    display:block;

			    }
		    }
    	}
    	.new{
    		line-height: 50px;
    		color: rgba(0,0,0,0.4);
    		font-size: 20px;
    		margin-left: 28px;
    		margin-bottom: 20px;
    		li{ 
    			width: 100%;
    			height: 50px;
    			padding: 15px;
    			position: relative;
    			box-sizing: border-box;
		    	border-bottom: 1px solid rgba(0,0,0,0.1);
    		}
    		.over{
    			.sanjiao{
	    			width: 20px;
	    			height: 20px;
	    		}
	    		&:hover .clear{
                     opacity: 1;
	    		};
	    		.wan{
	    			position: absolute;
	    			top:0;
	    			left: 45px;
	    		}
	    		.clear{
	    			opacity: 0;
	    			position: absolute;
	    			top:0;
	    			right: 30px;
	    			font-size: 20px;
	    			font-family: medium;
	    			cursor: pointer;
	    		}
    		}
    		.time{
    			height: 45px;
    		    span{
    		    	position: absolute;
    		    	top:0;
    		    	font-family: light;
    		    	font-size: 16px;
    		    	color: #999999;
    		    	font-weight: bold;
    		    }
    		    input{
    				position: absolute;
	    			left: 60px;
	    			height: 24px;
				    top: 10px;
				    left: 65px;
				    font-size: 20px;
				    background: none;
				    outline: none;
				    border: none;
				    font-family: text;
				    color: #C0C0C0;
    			}
    		}
    		.newxiangmu{
    			.new_img{
    				width: 32px;
				    height: 32px;
				    position: absolute;
				    top: 9px;
				    cursor: pointer;
    			}
    			input{
    				position: absolute;
	    			left: 60px;
	    			height: 24px;
				    top: 10px;
				    left: 65px;
				    font-size: 20px;
				    background: none;
				    outline: none;
				    border: none;
				    font-family: text;
				    color: #C0C0C0;
    			}
    		}
    		.newxiangmu2{
    			span{
    				position: absolute;
    				top:6px;
    			}
    		}
    	}
    }
}
